* {
    margin: 0;
    padding: 0;
}

html {
    background: rgb(249,248,238);
    background: linear-gradient(90deg, rgba(249,248,238,1)
     37%, rgba(255,251,235,1) 99%);
     font-family: sans-serif;
}
.container {
    background: white;
    margin: 100px auto;
    width: 770px;
    height: 500px;
    -webkit-box-shadow: 7px 24px 94px -39px rgba(0,0,0,0.6);
    -moz-box-shadow: 7px 24px 94px -39px rgba(0,0,0,0.6);
    box-shadow: 7px 24px 94px -39px rgba(0,0,0,0.6);
}
.credit-card {
    background: rgba(54,146,231,1);
    background: -moz-linear-gradient(left, rgba(54,146,231,1) 11%, rgba(54,146,231,1) 69%, rgba(25,114,215,1) 100%);
    border-radius: 6px;
    display: inline-block;
    width: 300px;
    height: 185px;
    margin-left: 40px;
    margin-top: 150px;
}