* {
    margin: 0;
    padding: 0;
}

html {
    background: rgb(249,248,238);
    background: linear-gradient(90deg, rgba(249,248,238,1)
     37%, rgba(255,251,235,1) 99%);
     font-family: sans-serif;
}
.container {
    background: white;
    margin: 100px auto;
    width: 770px;
    height: 500px;
    -webkit-box-shadow: 7px 24px 94px -39px rgba(0,0,0,0.6);
    -moz-box-shadow: 7px 24px 94px -39px rgba(0,0,0,0.6);
    box-shadow: 7px 24px 94px -39px rgba(0,0,0,0.6);
}